<?= View::instance()->render('header.html') ?>
<nav class="cb-topbar">
  <?= View::instance()->render('sidebar-resp.html') ?>
  <?= Sc::go('/artifact','Listing') ?>
</nav>
<div class="cb-main">
<h3><?=$page_head?> </h3>
<?= isset($msg) ? '<div id="showmsg">'.$msg.'</div>' : '' ?>

<form action="<?= $form_action ?>" method="POST" enctype="multipart/form-data">
 <p><?= Fm::text('docName',['label'=>'Name:','maxlength'=>64]) ?></p>
 <p><?= Fm::select('category',$cats,['label'=>'Category:']) ?></p>
 <p><?= Fm::select('fileExtension',['txt'=>'txt','html'=>'html','pdf'=>'pdf','other'=>'other'],['label'=>'Extension', 'maxlength'=>16, 'default'=>'other']) ?></p>
 <p><?= Fm::textarea('notes',['label'=>'Notes:','rows'=>8,'cols'=>80]) ?></p>
 <div class="control-group">
   <input type="hidden" name="<?= $form_command ?>" value="<?= $form_command ?>"/>
   <input type="submit" name="submit" value="<?= $form_label ?>"/>
 </div>
</form>


</div>
<?= View::instance()->render('footer.html') ?>

